---
import PreferenceForm from "./PreferenceForm.astro";
import PreferencesFieldset from "./PreferencesFieldset.astro";
import PreferencesLegend from "./PreferencesLegend.astro";
import PreferenceOption from "./PreferenceOption.astro";
import PreferenceOptionTitle from  "./PreferenceOptionTitle.astro";
---

<PreferenceForm id="color-form" name="colorForm">
  <PreferencesFieldset>
    <PreferencesLegend>Base Color</PreferencesLegend>
    <div
      class="custom-scrollbar layout layout--flex-scroll"
      style="--_scrollbar--size:0.5rem; --_layout--base-size:3rem; --_layout--gap:0.5rem;"
    >
      <div class="layout--flex-scroll__inner">
        {
          [
            "pink", 
            "purple", 
            "blue", 
            "green", 
            "yellow", 
            "orange",
            "red"
          ].map((color) => (
            <PreferenceOption
              name="color"
              value={color}
              title={`Set base color to ${color}`}
            >
              <span
                slot="preview"
                class="preview--color"
                style={`background: oklch( var(--${color}-l) var(--${color}-c) var(--${color}-h) )`}
              ></span>
              <PreferenceOptionTitle slot="title">{color}</PreferenceOptionTitle>
            </PreferenceOption>
          ))
        }
      </div>
    </div>
  </PreferencesFieldset>
</PreferenceForm>


<style>
  /* color scheme grid */
  .preview--color {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    inset: 0;
  }
</style>


<script type="module">
  // Root Color Inputs
  let color_radios = document.colorForm.color;

  function changeColor(newColor) {
    // Add New Color
    document.documentElement.dataset.color = newColor;
    // Update Cookies
    localStorage.setItem("color", newColor);
    // Update Meta Theme Color
    updateMetaThemeColor();
  }
  for (let i=0; i<color_radios.length; i++) {
    color_radios[i].addEventListener("click", function() {
      changeColor(color_radios[i].value)
    });
  }

  function configColorInputs() {
    const val = document.documentElement.dataset["color"];
    // Configure Color Radio Buttons
    for (const radio of color_radios) {
      if (val === radio.value) radio.checked = true;
    } 
  }
  configColorInputs();
</script>
