---
const { image, title, href } = Astro.props;
---

{
  title && href &&
  <a 
    aria-label={title}
    class="card"
    href={href}
    title={`Read more about "${title}"`}
  >
    {
      image &&
      <img 
        alt={title}
        loading="lazy"
        src={image} 
      />
    }
  </a>
}


<style>
  a {
    aspect-ratio: 2 / 1;
    background: linear-gradient(var(--surface4), var(--surface3));
    display: block;
    padding: 0;
    position: relative;
  }
  img {
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }
</style>
