---
const { image, title, href } = Astro.props;
---

<div class="card">
  {
    image && title && href &&
      <a 
        aria-label={title}
        href={href}
        title={`Read more about "${title}"`}
      >
        <img 
          alt={title}
          loading="lazy"
          src={image} 
        />
      </a>
  }
</div>


<style>
  div {
    aspect-ratio: 2 / 1;
    background: linear-gradient(var(--surface4), var(--surface2));
    overflow: hidden;
    position: relative;
  }
  a {
    inset: 0;
    position: absolute;
  }
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
</style>
