---
import { getCollection } from 'astro:content';
import PostCollectionLayout from '@layouts/PostCollectionLayout.astro';
import ExpandedPreviewCard from '@components/PostPreviewCard/ExpandedPreviewCard.astro';
import NothingHereCard from '@components/PostPreviewCard/NothingHereCard.astro';


const publishedPosts = (await getCollection('posts')).filter(post => !post.data.draft);

const allTags = publishedPosts.map((post) => post.data.tags).flat().sort();
const numTags = [...new Set(allTags)].length;

let tagsByFirstCharWithCounts = {};

allTags.forEach((tag) => {
  if (
    tag &&                      // exclude null/undefined
    typeof tag !== 'object' &&  // exclude objects
    !Array.isArray(tag)         // exclude arrays
  ) {

    tag = String(tag).trim();  // cast to string, remove whitespace
    if (tag.length > 0) {      // ignore tag if empty string

      let firstChar = tag[0].toUpperCase();  // uppercase first char

      // create hash for each unique firstChar
      if (!(firstChar in tagsByFirstCharWithCounts)) {
        tagsByFirstCharWithCounts[firstChar] = {};
      }

      // update counts for each tag
      !(tag in tagsByFirstCharWithCounts[firstChar])
        ? tagsByFirstCharWithCounts[firstChar][tag] = 1  // initialize tag count
        :  tagsByFirstCharWithCounts[firstChar][tag]++;  // increment tag count

    }
    
  }
});
---

<PostCollectionLayout
  title="Tags"
  description="Tyler Wittig's Post Tags"
  numPosts={numTags}
>
  <ul
    slot="content"
    class="layout layout--grid"
  >
    {
      Object.keys(tagsByFirstCharWithCounts).sort().map(letter =>
        <li class="letter-box card surface1">

          <h3 class="letter surface3">
            <span>{letter}</span>
          </h3>

          <ul class="btns">
            {
              Object.keys(tagsByFirstCharWithCounts[letter]).sort().map((tag) =>
                <li>
                  <a 
                    class="btn custom-scrollbar surface4 underline-on-hover" 
                    href={`/tags/${tag}`}
                    title={`View all posts tagged with #${tag}`}
                  >
                    #{tag}
                    <span>
                      ({tagsByFirstCharWithCounts[letter][tag]})
                    </span>
                  </a>
                </li>
              )
            }
          </ul>
          
        </li>
      )
    }
  </ul>
</PostCollectionLayout>


<style>
  .letter-box {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
  }

  .letter {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
    width: 3rem;
  }
  .letter span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .btns {
    flex-direction: column;
    width: 100%;
  }
  .btns li { max-width: 100%; }
  .btn {
    --_bar-size: 0.25rem;
    --_track-margin: var(--radius-lg);
    display: block;
    overflow: auto;
    white-space: nowrap;
  }
</style>
