---
import ImageLink from './components/ImageLink.astro';
import PostTags from '@components/PostTags.astro';
import TitleLink from './components/TitleLink.astro';
import CardFooter from './components/CardFooter.astro';
import PostBlurb from './components/PostBlurb.astro';
import PostDate from './components/PostDate.astro';

const { post } = Astro.props;
---


<ImageLink
  image={post.data.heroImage}
  title={post.data.title}
  href={`/${post.data.category}/${post.slug}`}
/>

<div class="card content-section">
  <PostTags 
    tags={post.data.tags}
    noWrap={true} 
  />

  <TitleLink
    title={post.data.title}
    href={`/${post.data.category}/${post.slug}`}
  />

  <CardFooter>
    <PostBlurb blurb={post.data.blurb} />
    <PostDate
      datePublished={post.data.datePublished}
      dateUpdated={post.data.dateUpdated}
    />
  </CardFooter>
</div>


<style>
  div {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
</style>