---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import PostTags from '@components/PostTags.astro';
import RelatedPosts from '@components/RelatedPosts.astro';
type Props = CollectionEntry<'posts'>['data'];
const post = Astro.props;
---

<BaseLayout hasBreadcrumbs="true" {...Astro.props}>


  {/* Post Header Area */}
  <div
    class="layout layout--flex-fill wrapper"
    id="post-overview"
    style="--_base-size:25rem;"
  >

    {/* Left */}
    <div
      class="content-section"
      style="--_content-gap:1rem;"
    >
      {
        post.title &&
        <h1>{post.title}</h1>
      } 
      {
        post.description &&
        <p>{post.description}</p>
      }
      {/* blurb area */}
      <div
        class="card content-section surface3"
        id="post-blurb-area"
        style="--_content-gap:0.5rem;"
      >
        {
          post.blurb &&
          <p>{post.blurb}</p>
        }
        <p>
          {
            post.author &&
            <span>Written by {post.author} on</span>
          }
          {
            post.datePublished &&
            <span>{post.datePublished}</span>
          }
          {
            post.dateUpdated &&
            <em>(Updated {post.dateUpdated})</em>
          }
        </p>
      </div>
    </div>

    {/* Right */}
    <div id="hero-image-wrap">
      {
        post.heroImage &&
        post.title &&
        <img
          alt={post.title}
          src={post.heroImage}
        />
      }
    </div>

  </div>
  

  {/* Post Content Area */}
  <section class="card content-section surface0 shadow-sm wrapper">

    {/* Links */}
    {
      post.links && (
        <div 
          class="card content-section surface2"
          style="--_content-gap:0.5rem;"
        >
          <h2 class="heading--reduce">Links</h2>
          <ul>
            {
              post.links &&
              post.links.map(({ text, href }) => 
                <li>
                  <a 
                    href={href}
                    target="_blank"
                    rel="noopener noreferrer"
                  >{text}</a>
                </li>
              )
            }
          </ul>
        </div>
      )
    }


    {/* Post Content */}
    <slot />


    {/* Post Tags */}
    {
      post.tags && 
      <div
        class="card content-section surface1"
        style="--_content-gap:1rem;"
      >
        <h2 class="heading--reduce">Tags</h2>
        <PostTags tags={post.tags} />
      </div>
    }

  </section>
  
  {/* Associated Posts */}
  {
    post.relatedPosts &&
    <section class="wrapper">
      <RelatedPosts slugs={post.relatedPosts} />
    </section>
  }

</BaseLayout>

<style>
  #post-overview { flex-wrap: wrap-reverse; }
  #post-blurb-area {
    line-height: 1.3;
    margin-top: auto;
  }
  #post-blurb-area p > * {
    display: inline-block;
    margin-right: 0.5ch;
  }
  #hero-image-wrap { line-height: 0; }
</style>
